<div class="container-fluid -right" *ngIf="isNodeStarted">
  <div class="row">
    <div class="col-sm-7 pr-5">
      <ng-container>
        <h3>Live Stats</h3>
        <div class="select-wrapper">
          <ng-select [items]="chartLabels"
                     (change)="onChange()"
                     [(ngModel)]="selectedShard">
          </ng-select>
        </div>


      </ng-container>

      <h3>Benchmark</h3>

      <div class="row">
        <div class="col-sm-7">
          <div class="form-group">
            <label>Your Address
              <fa name="question-circle" ngbTooltip="Your address. Your public key" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control -material"
                   (change)="onChangeAddress($event, 'accountShard')"
                   [(ngModel)]="accountFrom" readonly>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label>Balance
              <fa name="question-circle" ngbTooltip="The total balance of your account" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control -material"
                   [(ngModel)]="accountBalance" readonly>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <label>Shard
              <fa name="question-circle" ngbTooltip="Shard" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control -material -center"
                   [(ngModel)]="accountShard" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label>Recipient
              <fa name="question-circle" ngbTooltip="Recipient address" placement="right"></fa>
            </label>
            <input type="text"
                   class="form-control"
                   (change)="onChangeAddress($event, 'benchmarkShard')"
                   [(ngModel)]="benchmarkTo">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Shard
              <fa name="question-circle" ngbTooltip="Shard" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control -material -center"
                   [(ngModel)]="benchmarkShard" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>Amount per transaction
              <fa name="question-circle" ngbTooltip="Amount per transaction" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control"
                   [dropSpecialCharacters]="false"
                   mask="9*"
                   [(ngModel)]="benchmarkAmount">
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Nr. of transactions
              <fa name="question-circle" ngbTooltip="Nr. of transactions to be generated" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control"
                   [dropSpecialCharacters]="false"
                   mask="9*"
                   [(ngModel)]="benchmarkNrTrans">
          </div>
        </div>

        <div class="col-sm-3 text-right" style="padding-top: 30px;">
          <button type="button" class="btn btn-info"
                  [disabled]="benchmarkTo === '' || benchmarkNrTrans === '' || benchmarkAmount === ''"
                  (click)="sendMultipleTransactions($event)">Benchmark
          </button>
        </div>
      </div>

    </div>

    <div class="col-sm-5 col-chart">
      <div class="chart-header">
        <h3>Live TPS chart</h3>
      </div>

              <div class="row">
                <div class="col-sm-12">
                  <ul class="live-list">
                    <li>
                      Average Round time(seconds): <span class="value-label"
                                                         *ngIf="selectedShardStatistic.averageRoundTime">{{selectedShardStatistic.averageRoundTime}}</span>
                    </li>
                    <li>
                      Live Round time(seconds):
                      <span class="value-label" *ngIf="selectedShardStatistic.liveRoundTime">{{selectedShardStatistic.liveRoundTime}}</span>
                    </li>
                    <li>
                      Average Transactions / Block:
                      <span class="value-label" *ngIf="selectedShardStatistic.averageNrTxPerBlock">{{selectedShardStatistic.averageNrTxPerBlock}}</span>
                    </li>
                    <li>
                      Transactions / Last Block:
                      <span class="value-label" *ngIf="selectedShardStatistic.liveNrTransactionsPerBlock">{{selectedShardStatistic.liveNrTransactionsPerBlock}}</span>
                    </li>
                    <li>
                      Processed Transactions: <span class="value-label"
                                *ngIf="selectedShardStatistic.totalNrProcessedTransactions">{{selectedShardStatistic.totalNrProcessedTransactions}}</span>
                    </li>
                  </ul>
                </div>
              </div>


      <div class="chart-wrapper" *ngIf="chartDatasets && chartDatasets.length > 0">
        <canvas #statsChart baseChart
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="chartLegend"
                [chartType]="chartType"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="no-message text-center" style="display: flex; flex: 1; justify-content: center; align-items: center;width: 100%; height: 100%;"
     *ngIf="!isNodeStarted">
  <h2>Node is not started</h2>
</div>

<span class="circle-bottom-right circle-large circle-graphic circle-light-blue"></span>
