// Wallet page
//

// Vars
//

@import "../../../styles/base/variables";
$border__color: #C6C6C6;

// Base
//

:host {
  display: block;
  margin-bottom: 140px;
  position: relative;
  height: calc(100% - 137px);

  h3 {
    margin: 0 0 10px;
  }

  .container-fluid {
    padding: 15px $content__padding 0;
    height: 100%;

    &.-right {
      padding-right: 20px;
    }
  }
  .select-wrapper {
    margin:40px 0;
  }


  .chart-wrapper {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    max-width: 650px;
    max-height: 250px;
  }

  .live-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: (12/16 + rem);
    padding-top: 20px;

    li {
      padding: 0;
      color: #666;
    }

    .value-label {
      color: $brand-blue;
    }
  }

  .form-control.-material, .ng-select .-material.ng-select-container {
    height: 40px;
  }

}
