<div class="container-fluid -right" *ngIf="isNodeStarted">
  <div class="row">
    <div class="col-sm-7 pr-5">
      <ng-container>
        <h3>Live Stats</h3>

        <ngb-tabset class="tab--small">
          <ngb-tab>
            <ng-template ngbTabTitle>
              Global
            </ng-template>

            <ng-template ngbTabContent>
              <ul class="live-list">
                <li>
                  Active Nodes: <span class="value-label">{{global.activeNodes}}</span>
                </li>
                <li>
                  Shards: <span class="value-label">{{global.nrShards}}</span>
                </li>
                <li>
                  Global Peak TPS: <span class="value-label">{{global.peakTps}}</span>
                </li>
                <li>
                  Global Live TPS: <span class="value-label">{{global.liveTps}}</span>
                </li>
              </ul>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>
              Shard 0
            </ng-template>

            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-sm-6">
                  <ul class="live-list">
                    <li>
                      Average Round time(seconds): <span class="value-label"
                                                         *ngIf="shardDataList && shardDataList[0].averageRoundTime">{{shardDataList[0].averageRoundTime}}</span>
                    </li>
                    <li>
                      Peak TPS: <span class="value-label" *ngIf="shardDataList && shardDataList[0].peakTps">{{shardDataList[0].peakTps}}</span>
                    </li>
                    <li>
                      Live TPS: <span class="value-label" *ngIf="shardDataList && shardDataList[0].liveTps">{{shardDataList[0].liveTps}}</span>
                    </li>
                    <li>
                      Tx: <span class="value-label"
                                *ngIf="shardDataList && shardDataList[0].totalNrProcessedTransactions">{{shardDataList[0].totalNrProcessedTransactions}}</span>
                    </li>
                  </ul>
                </div>

                <div class="col-sm-6">
                  <ul class="live-list">
                    <li>
                      Live Round time(seconds):
                      <span class="value-label" *ngIf="shardDataList && shardDataList[0].liveRoundTime">{{shardDataList[0].liveRoundTime}}</span>
                    </li>
                    <li>
                      Average Transactions / Block:
                      <span class="value-label" *ngIf="shardDataList && shardDataList[0].averageNrTxPerBlock">{{shardDataList[0].averageNrTxPerBlock}}</span>
                    </li>
                    <li>
                      Transactions / Last Block:
                      <span class="value-label" *ngIf="shardDataList && shardDataList[0].liveNrTransactionsPerBlock">{{shardDataList[0].liveNrTransactionsPerBlock}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>
              Shard 1
            </ng-template>

            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-sm-6">
                  <ul class="live-list">
                    <li>
                      Average Round time(seconds): <span class="value-label"
                                                         *ngIf="shardDataList && shardDataList[1].averageRoundTime">{{shardDataList[1].averageRoundTime}}</span>
                    </li>
                    <li>
                      Peak TPS: <span class="value-label" *ngIf="shardDataList && shardDataList[1].peakTps">{{shardDataList[1].peakTps}}</span>
                    </li>
                    <li>
                      Live TPS: <span class="value-label" *ngIf="shardDataList && shardDataList[1].liveTps">{{shardDataList[1].liveTps}}</span>
                    </li>
                    <li>
                      Tx: <span class="value-label"
                                *ngIf="shardDataList && shardDataList[1].totalNrProcessedTransactions">{{shardDataList[1].totalNrProcessedTransactions}}</span>
                    </li>
                  </ul>
                </div>

                <div class="col-sm-6">
                  <ul class="live-list">
                    <li>
                      Live Round time(seconds):
                      <span class="value-label" *ngIf="shardDataList && shardDataList[1].liveRoundTime">{{shardDataList[1].liveRoundTime}}</span>
                    </li>
                    <li>
                      Average Transactions / Block:
                      <span class="value-label" *ngIf="shardDataList && shardDataList[1].averageNrTxPerBlock">{{shardDataList[1].averageNrTxPerBlock}}</span>
                    </li>
                    <li>
                      Transactions / Last Block:
                      <span class="value-label" *ngIf="shardDataList && shardDataList[1].liveNrTransactionsPerBlock">{{shardDataList[1].liveNrTransactionsPerBlock}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ng-container>

      <h3>Benchmark</h3>

      <div class="row">
        <div class="col-sm-7">
          <div class="form-group">
            <label>Your Address
              <fa name="question-circle" ngbTooltip="Your address. Your public key" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control -material"
                   (change)="onChangeAddress($event, 'accountShard')"
                   [(ngModel)]="accountFrom" readonly>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label>Balance
              <fa name="question-circle" ngbTooltip="The total balance of your account" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control -material"
                   [(ngModel)]="accountBalance" readonly>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <label>Shard
              <fa name="question-circle" ngbTooltip="Shard" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control -material -center"
                   [(ngModel)]="accountShard" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label>Recipient
              <fa name="question-circle" ngbTooltip="Recipient address" placement="right"></fa>
            </label>
            <input type="text"
                   class="form-control"
                   (change)="onChangeAddress($event, 'benchmarkShard')"
                   [(ngModel)]="benchmarkTo">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Shard
              <fa name="question-circle" ngbTooltip="Shard" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control -material -center"
                   [(ngModel)]="benchmarkShard" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>Amount per transaction
              <fa name="question-circle" ngbTooltip="Amount per transaction" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control"
                   [dropSpecialCharacters]="false"
                   mask="9*"
                   [(ngModel)]="benchmarkAmount">
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Nr. of transactions
              <fa name="question-circle" ngbTooltip="Nr. of transactions to be generated" placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control"
                   [dropSpecialCharacters]="false"
                   mask="9*"
                   [(ngModel)]="benchmarkNrTrans">
          </div>
        </div>

        <div class="col-sm-3 text-right" style="padding-top: 30px;">
          <button type="button" class="btn btn-info"
                  [disabled]="benchmarkTo === '' || benchmarkNrTrans === '' || benchmarkAmount === ''"
                  (click)="sendMultipleTransactions($event)">Benchmark
          </button>
        </div>
      </div>

    </div>

    <div class="col-sm-5 col-chart">
      <div class="chart-header">
        <h3>Live TPS chart</h3>
      </div>
      <div class="chart-wrapper" *ngIf="chartDatasets && chartDatasets.length > 0">
        <canvas #statsChart baseChart
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="chartLegend"
                [chartType]="chartType"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="no-message text-center" style="display: flex; justify-content: center; align-items: center;width: 100%;"
     *ngIf="!isNodeStarted">
  <h2>Node is not started</h2>
</div>

<span class="circle-bottom-right circle-large circle-graphic circle-light-blue"></span>
