<aw-wizard>
  <aw-wizard-step stepTitle="Node Setup">

    <div class="step-body container-fluid">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Instance Name
              <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
            </label>
            <input type="text" class="form-control" [(ngModel)]="instanceName">
          </div>

          <div class="form-row">
            <div class="col-md-6">

              <div class="form-group">
                <label>IP
                  <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control"
                       [dropSpecialCharacters]="false"
                       mask="000.000.000.000"
                       [(ngModel)]="instanceIp">
              </div>

            </div>

            <div class="col-md-2">

              <div class="form-group">
                <label>Port
                  <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control"
                       mask="000000"
                       [(ngModel)]="instancePort">
              </div>

            </div>

            <div class="col-md-4" style="padding-top: 30px">
              <button class="btn btn-info btn-sm mr-2" (click)="checkInstance()">Test</button>

              <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
            </div>

          </div>

          <div class="form-group">
            <label>Blockchain path on local drive
              <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
            </label>
            <input type="file"
                   class="form-control"
                   webkitdirectory
                   (change)="onChangeFile($event)"
                   [(ngModel)]="instanceBlockchainPath">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Node type
              <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
            </label>

            <div class="select-wrapper">
              <ng-select [items]="selectNodeTypes"
                         bindLabel="label"
                         bindValue="value"
                         [(ngModel)]="selectedNodeType">
              </ng-select>
            </div>
          </div>

          <ng-container *ngIf="selectedNodeType === 0">
            <div class="form-group">
              <label>Node Action
                <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
              </label>

              <div class="select-wrapper">
                <ng-select [items]="selectNodeAction"
                           bindLabel="label"
                           bindValue="value"
                           [(ngModel)]="selectedNodeAction">
                </ng-select>
              </div>
            </div>


            <div class="form-group" *ngIf="selectedNodeAction === 1">
              <label>Restore Path
                <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
              </label>
              <input type="text" class="form-control" [(ngModel)]="instanceRestorePath">
            </div>


            <div class="form-group" *ngIf="selectedNodeAction === 0">
              <label>ERD's in Genesis Block
                <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
              </label>
              <input type="text"
                     class="form-control"
                     mask="0*"
                     [(ngModel)]="instanceGenesisCoins">
            </div>

            <div class="form-group" *ngIf="selectedNodeAction === 0">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="instanceGenerateTransaction">

                  <span>Generate test transactions</span>
                </label>
              </div>
            </div>

            <div class="form-group" *ngIf="instanceGenerateTransaction">
              <label>Nr. of node to distribute ERD's <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa></label>
              <input type="text" class="form-control" [(ngModel)]="instanceNodeDistribution">
            </div>

          </ng-container>
        </div>
      </div>

    </div><!-- .end step-body -->


    <div class="aw-wizard-footer text-center">
      <button type="button" class="btn btn-dark" awNextStep>Next</button>
    </div>

  </aw-wizard-step>

  <aw-wizard-step stepTitle="Network Peers">

    <div class="step-body container-fluid">

      <div class="row">

        <div class="col-md-12">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>IP
                <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
              </label>
              <input type="text"
                     class="form-control"
                     autofocus
                     [dropSpecialCharacters]="false"
                     mask="000.000.000.000"
                     [(ngModel)]="peerIp">
            </div>

            <div class="form-group col-md-2">
              <label>Port
                <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
              </label>
              <input type="text"
                     class="form-control"
                     mask="000000"
                     [(ngModel)]="peerPort">
            </div>

            <div class="col-md-4" style="padding-top: 30px;">
              <button type="button" class="btn btn-primary btn-sm mr-2" (click)="testPeer()">Test</button>
              <button type="button" class="btn btn-success btn-sm" (click)="addPeer()">Add</button>
            </div>
          </div>

          <table class="table table-striped table-secondary mt-3" *ngIf="peerTable && peerTable.length > 0">
            <thead>
            <tr>
              <th class="xs">ID</th>
              <th>IP</th>
              <th>Port</th>
              <th class="text-center sm">Status</th>
              <th class="text-center sm">Remove</th>
            </tr>
            </thead>
          </table>

          <div class="table-responsive" *ngIf="peerTable && peerTable.length > 0">
            <table class="table">
              <tbody>
              <tr *ngFor="let peer of peerTable; let i = index">
                <td class="xs">{{i}}</td>
                <td>{{ peer.ip }}</td>
                <td>{{ peer.port }}</td>
                <td class="text-center sm">
                  <fa name="circle" [ngClass]="peer.status ? 'active' : 'not-active'"></fa>
                </td>
                <td class="text-center sm">
                  <button class="btn btn-link" (click)="deletePeer(i)">
                    <fa name="trash"></fa>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>


    <div class="aw-wizard-footer text-center">
      <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
      <button type="button" class="btn btn-primary ml-2" awNextStep>Next</button>
    </div>
  </aw-wizard-step>

  <aw-wizard-step stepTitle="Keys">

    <div class="step-body container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="form-row">

            <div class="col-md-8">
              <div class="form-group">
                <label>Private key</label>
                <input type="text" class="form-control" [(ngModel)]="privateKey" [readonly]="isReadonly">
              </div>
            </div>

            <div class="col-md-4" style="padding-top: 30px;">
              <button class="btn btn-primary btn-sm" (click)="generatePrivateKey()">Generate</button>

              <button class="btn btn-secondary ml-2 btn-sm" (click)="manualPrivateKey()">Manual</button>
            </div>
          </div>

          <div class="form-group">
            <label>Public key</label>
            <input type="text" class="form-control" [(ngModel)]="publicKey" readonly>
          </div>
        </div>
      </div>
    </div><!-- end .step-body -->

    <div class="aw-wizard-footer text-center">
      <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
      <button type="button" class="btn btn-primary ml-2" awNextStep>Next</button>
    </div>
  </aw-wizard-step>

  <aw-wizard-step stepTitle="Summary">
    <p>
      Sumamry content
    </p>

    <div class="aw-wizard-footer text-center">
      <button type="button" class="btn btn-secondary mr-2" awPreviousStep>Back</button>
      <button type="button" class="btn btn-primary">Start</button>
    </div>
  </aw-wizard-step>
</aw-wizard>
