<nav class="app-navigation">
  <ul class="app-navigation__menu">
    <li>
      <a class="app-navigation__menu-item"
         routerLink="/client"
         routerLinkActive="is-active"
         [routerLinkActiveOptions]="{exact: true}">
        Client
      </a>
    </li>
    <li>
      <a class="app-navigation__menu-item"
         routerLink="/operations"
         routerLinkActive="is-active">
        Operations
      </a>
    </li>
    <li>
      <a class="app-navigation__menu-item"
         routerLink="/stats"
         routerLinkActive="is-active">
        Stats
      </a>
    </li>
    <li>
      <a class="app-navigation__menu-item"
         routerLink="/search"
         routerLinkActive="is-active">
        Search
      </a>
    </li>
  </ul>
</nav>
