// Header
// =========================

// Vars
// -------------------------

$header__bg: #fafafa;

// Base
// -------------------------

.header {
  .container {
    background: $header__bg;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .logo {
    display: inline-block;
    line-height: 0;
    margin-right: 20px;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1;
    padding-top: 3px;
  }
}
