@import "../styles/base/variables";

:host {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;

  .app-main {
    position: absolute;
    top: 0;
    bottom: 200px;
    left: $sidebar-width;
    padding: 10px 20px;
    width: calc(100% - #{$sidebar-width});
    font-family: 'Roboto', sans-serif;
  }
}
