@import "../../../styles/base/variables";

:host {
  background: #fafafa;
  border: 1px solid #ddd;
  position: absolute;
  height: 200px;
  left: $sidebar-width;
  right: 0;
  bottom: 0;
  padding: 10px;
}
