<div class="row">
  <div class="col-md-6">

    <div class="form-block" style="border: 1px solid #ddd; padding: 10px; margin: 0 0 20px; border-radius: 5px;">
      <h3>
        <span class="badge badge-primary">1</span> <span class="title-label">This machine <fa name="question-circle"
                                                                                              ngbTooltip="Tooltip on top"
                                                                                              placement="right"></fa></span>
      </h3>

      <div class="form-row">
        <div class="form-group col-md-5">
          <div class="row">
            <div class="col-md-1"><label>IP</label></div>
            <div class="col-md-10">
              <input type="text" class="form-control" name="ip">
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <div class="row">
            <div class="col-md-3">
              <label>Port</label>
            </div>

            <div class="col-md-9">
              <input type="text" class="form-control" name="port">
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="btn-wrapper" style="display: flex; flex-direction: row; justify-content: flex-end">
            <button class="btn btn-danger btn-sm">Test</button>
            <button class="btn btn-success btn-sm ml-2">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-block" style="border: 1px solid #ddd; padding: 10px; border-radius: 5px;">
      <h3>
        <span class="badge badge-primary">2</span> <span class="title-label">Node Setup <fa name="question-circle"
                                                                                      ngbTooltip="Tooltip on top"
                                                                                      placement="right"></fa></span>
      </h3>

      <div class="form-group">
        <div class="row">
          <div class="col"><label>Instance name</label></div>
          <div class="col-md-8">
            <input type="text" class="form-control" name="instance_name">
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6">
          <div class="row">
            <div class="form-group col-md-6">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="node_type" id="first-node-radio" value="1">
                <label class="form-check-label" for="first-node-radio">
                  First node
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="node_type" id="peer-radio" value="2">
                <label class="form-check-label" for="peer-radio">
                  Peer node
                </label>
              </div>

            </div>

            <div class="form-group col-md-6">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="action_type" id="genesis-radio" value="1">
                <label class="form-check-label" for="genesis-radio">
                  Genesis
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="action_type" id="restore-radio" value="2">
                <label class="form-check-label" for="restore-radio">
                  Restore
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="row">
            <div class="col-md-2"><label>Amount</label></div>
            <div class="col-md-5">
              <input type="text" class="form-control" name="instance_name">
            </div>
          </div>

          <div class="row" style="padding-top: 10px;">
            <div class="col-md-2"><label>Location</label></div>
            <div class="col-md-5">
              <button type="button" class="btn btn-info">Browse</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- end column-left -->

  <div class="col-md-6">

    <div class="form-block" style="border: 1px solid #ddd; padding: 10px; border-radius: 5px; height: 100%;">
      <h3>
        <span class="badge badge-primary">2</span> <span class="title-label">Add Peers <fa name="question-circle"
                                                                                           ngbTooltip="Tooltip on top"
                                                                                           placement="right"></fa></span>
      </h3>

      <div class="form-row">
        <div class="form-group col-md-5">
          <div class="row">
            <div class="col-md-1"><label>IP</label></div>
            <div class="col-md-10">
              <input type="text" class="form-control" name="ip">
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <div class="row">
            <div class="col-md-3">
              <label>Port</label>
            </div>

            <div class="col-md-9">
              <input type="text" class="form-control" name="port">
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="btn-wrapper" style="display: flex; flex-direction: row; justify-content: flex-end">
            <button class="btn btn-danger btn-sm">Test</button>
            <button class="btn btn-success btn-sm ml-2">Add</button>
          </div>
        </div>
      </div>

      <table class="table table-striped table-secondary">
        <thead>
        <tr>
          <th class="xs">ID</th>
          <th>IP</th>
          <th>Port</th>
          <th class="text-center sm">Status</th>
          <th class="text-center sm">Remove</th>
        </tr>
        </thead>
      </table>

      <table class="table">
        <tbody>
        <tr>
          <td class="xs">1</td>
          <td>255.255.255.255</td>
          <td>Mark</td>
          <td class="text-center sm"><fa name="circle"></fa></td>
          <td class="text-center sm">
            <fa name="trash"></fa>
          </td>
        </tr>
        <tr>
          <td class="xs">1</td>
          <td>255.255.255.255</td>
          <td>8000</td>
          <td class="text-center sm"><fa name="circle"></fa></td>
          <td class="text-center sm">
            <fa name="trash"></fa>
          </td>
        </tr>
        <tr>
          <td class="xs">1</td>
          <td>255.255.255.255</td>
          <td>8000</td>
          <td class="text-center sm"><fa name="circle"></fa></td>
          <td class="text-center sm">
            <fa name="trash"></fa>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


  </div> <!-- end column-right -->

</div>

<div class="row">
  <div class="col-md-5">

    <div class="form-group">
      <label>Private key</label>
      <input type="text" class="form-control" name="private_key">
    </div>

    <div class="form-group">
      <label>Public key</label>
      <input type="text" class="form-control" name="public_name" readonly>
    </div>

    <div class="form-group pt-5">
      <button type="button" class="btn btn-primary btn-lg">Start</button>
    </div>

  </div> <!-- end column-left -->
</div>
