// Wallet page
//

// Vars
//

@import "../../../styles/base/variables";
$border__color: #C6C6C6;

// Base
//

:host {
  display: block;
  margin-bottom: 140px;
  position: relative;
  height: calc(100% - 137px);

  .container-fluid {
    padding: 40px $content__padding 0;
    height: 100%;
  }

  .display-4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
