<div class="container-fluid pt-4">

  <div class="row justify-content-center">

    <div class="col-md-10 ml-auto mr-auto">
      <h3>Your account</h3>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Address
            <fa name="question-circle" ngbTooltip="Your address. Your public key" placement="right"></fa>
          </label>

          <input type="text"
                 class="form-control"
                 [(ngModel)]="operationsFrom" readonly>
        </div>

        <div class="form-group col-md-3">
          <label>Balance
            <fa name="question-circle" ngbTooltip="The total balance of your account" placement="right"></fa>
          </label>

          <input type="text"
                 class="form-control"
                 [(ngModel)]="operationsBalance" readonly>
        </div>

        <div class="form-group col-md-1">
          <label>Shard
            <fa name="question-circle" ngbTooltip="The total balance of your account" placement="right"></fa>
          </label>

          <input type="text"
                 class="form-control text-center"
                 [(ngModel)]="operationsShard" readonly>
        </div>
      </div>

      <h3>Send ERD's</h3>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>To
            <fa name="question-circle" ngbTooltip="Receiver Address." placement="right"></fa>
          </label>

          <input type="text"
                 class="form-control"
                 [disabled]="isDisabled"
                 [(ngModel)]="operationsTo">
        </div>

        <div class="form-group col-3">
          <label>Amount
            <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
          </label>

          <input type="text"
                 class="form-control"
                 [disabled]="isDisabled"
                 [(ngModel)]="operationsAmount">
        </div>

        <div class="form-group col-1">
          <label>Shard
            <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
          </label>

          <input type="text"
                 class="form-control text-center"
                 [disabled]="isDisabled"
                 [(ngModel)]="toShard" readonly>
        </div>

        <div class="col-md-2" style="padding-top: 30px;">
          <button type="button" class="btn btn-primary btn-sm btn-block" [disabled]="!operationsTo || !operationsAmount" (click)="send($event)">Send</button>
        </div>
      </div>

      <h3>Check address balance</h3>
      <div class="form-row">

        <div class="form-group col-md-6">
          <label>Address:
            <fa name="question-circle" ngbTooltip="The address. The public key" placement="right"></fa>
          </label>

          <input type="text"
                 class="form-control"
                 [disabled]="isDisabled"
                 [(ngModel)]="addressToCheck">
        </div>

        <div class="form-group col-md-3">
          <label>Balance
            <fa name="question-circle" ngbTooltip="The total balance of the account" placement="right"></fa>
          </label>

          <input type="text"
                 class="form-control"
                 [(ngModel)]="balanceToCheck" readonly>
        </div>

        <div class="form-group col-1">
          <label>Shard
            <fa name="question-circle" ngbTooltip="Tooltip on top" placement="right"></fa>
          </label>

          <input type="text"
                 class="form-control text-center"
                 [disabled]="isDisabled"
                 [(ngModel)]="checkShard" readonly>
        </div>

        <div class="col-md-2" style="padding-top: 30px">
          <button type="button" class="btn btn-primary btn-sm btn-block" [disabled]="!addressToCheck" (click)="checkBalance($event)">Check</button>
        </div>

      </div>

    </div>

  </div>

</div><!-- .end step-body -->
