// Navigation
// -----------------------

// Vars
// -----------------------

$menu__button: #4F4F4F;
$menu__button--active: #fff;
$menu__button-bg--active: #4F4F4F;

/* Rectangle: */

// Base
// -----------------------

:host {
  display: block;
  height: 100%;

  .app-navigation {
    height: 100%;

    &__menu {
      list-style: none;
      margin: 0;
      padding: 0;

      &.-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    &__menu-item {
      display: block;
      padding: 0 15px 0 58px;
      height: 50px;
      line-height: 50px;
      font-size: (12/16 + rem);
      color: $menu__button;
      transition: all 0.3s;
      background-image: linear-gradient(-180deg, #FDFDFD 10%, #F9F9F9 75%);
      position: relative;

      &,
      &:hover {
        text-decoration: none;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        line-height: 0;
      }

      &.is-active {
        background: $menu__button-bg--active;
        color: $menu__button--active;

        svg {
          * {
            fill: #fff;
          }

          .status-circle {
            fill: #6FD0DC;
          }
        }
      }

      &.is-node-started {
        svg {
          .status-circle {
            fill: green;
          }
        }
      }
    }
  }
}
