// Navigation
// -----------------------

// Vars
// -----------------------

$menu__button: #525252;
$menu__button--active: #fff;
$menu__button-bg--active: #4F4F4F;

/* Rectangle: */

// Base
// -----------------------

:host {
  display: block;
  height: 100%;

  .app-navigation {
    height: 100%;

    &__menu {
      list-style: none;
      margin: 0;
      padding: 0;

      &.-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    &__menu-item {
      display: flex;
      padding: 49px 0 0;
      height: 80px;
      font-size: (11/16 + rem);
      color: $menu__button;
      transition: all 0.3s;
      position: relative;
      justify-content: center;
      background-image: linear-gradient(-180deg, #FDFDFD 10%, #F9F9F9 75%);

      &,
      &:hover {
        text-decoration: none;
      }

      .icon {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        line-height: 0;
      }

      .menu-icon {
        fill: #525252;
      }

      .menu-circle {
        display: none;
      }

      &.status-item {
        padding-top: 38px;

        svg {
          * {
            fill: #4F4F4F;
          }
        }
      }

      &.is-active {
        &.status-item {
          svg {
            * {
              fill: #6FD0DC;
            }
          }
        }
        .menu-circle {
          fill: #505050;
          display: block;
        }

        .menu-icon {
          fill: #fff;
        }
      }

      &.is-node-started {
        &.status-item {
          svg {
            * {
              fill: #ACC73F;
            }
          }
        }
      }
    }
  }
}
