// Navigation
// -----------------------

// Vars
// -----------------------

$menu__button: #4F4F4F;
$menu__button--active: #4F4F4F;
$menu__button-bg--active: #fff;

// Base
// -----------------------

:host {
  display: block;

  .app-navigation {
    &__menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__menu-item {
      display: block;
      border-bottom: 1px solid rgba(#fff, 0.4);
      padding: 15px 20px 10px;
      text-transform: uppercase;
      font-size: 1.3rem;
      color: $menu__button;
      transition: all 0.3s;

      &,
      &:hover {
        text-decoration: none;
      }

      &.is-active {
        background: $menu__button-bg--active;
      }
    }
  }
}
