<nav class="app-navigation">
  <ul class="app-navigation__menu">
    <li>
      <a class="app-navigation__menu-item"
         routerLink="/welcome"
         routerLinkActive="is-active"
         [routerLinkActiveOptions]="{exact: true}">
        Welcome
      </a>
    </li>
    <li>
      <a class="app-navigation__menu-item"
         routerLink="/node"
         routerLinkActive="is-active"
         [routerLinkActiveOptions]="{exact: true}">
        Node
      </a>
    </li>
    <li>
      <a class="app-navigation__menu-item"
         routerLink="/operations"
         routerLinkActive="is-active">
        Operations
      </a>
    </li>
    <li>
      <a class="app-navigation__menu-item"
         routerLink="/stats"
         routerLinkActive="is-active">
        Stats
      </a>
    </li>
  </ul>
</nav>
