@import "../styles/base/variables";

:host {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-left: $sidebar-width;
  height: 100%;

  .app-main {
    margin: 0;
    padding: 0;
    height: 100%;
  }
}
