* {
  box-sizing: border-box;
}

body {
  @extend %font__primary;

  margin: 0;
  padding: 0;
}


.app-container {
  @extend %font__primary;
}

.app-main {
  margin-left: $sidebar-width;
  padding-left: 20px;
}
