// Variables
// ======================

// Color
//

$title-color: #4F4F4F;
$text-color: #666666;
$link-color: #4F4F4F;
$line-height-body: 1.555;
$font-size-body: 16px;
$primary: #4F4F4F;
$light-blue: #E7F6FA;

$sidebar-width: 140px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
);

$grid-gutter-width: 40px;
