:host {
  .form-group {
    margin: 0 0 10px;
  }

  label {
    font-size: 13px;
  }

  h3 {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 10px;
  }

  .btn {
    font-size: 13px;
    width: 70px;
  }

  .form-control {
    padding: 5px;
    font-size: 12px;
    text-align: center;
  }

  .badge {
    width: 21px;
    height: 21px;
    line-height: 21px;
    border-radius: 50%;
    font-size: 12px;
    position: relative;
    text-align: center;
    padding: 0;
    margin-right: 5px;
  }

  .row {
    label {
      margin: 0;
      display: block;
      line-height: 30px;
    }
  }

  .table {
    table-layout: fixed;

    th {
      font-size: 10px;
      text-transform: uppercase;
      padding: 5px;
      border: 0;
    }

    td {
      padding: 5px;
      font-size: 14px;
    }

    .sm {
      width: 80px;
    }

    .xs {
      width: 50px;
    }
  }
}
