@import "../../../styles/base/variables";

// Sidebar
// ======================

// Vars
// ----------------------

$sidebar-bg: #fff;
$sidebar-border: #BABABA;
$sidebar-box-shadow: 0 2px 10px 0 rgba(216, 216, 216, 0.5);

// Base
// ----------------------

:host {
  display: block;
  background: $sidebar-bg;
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 45px 0 0;
  box-shadow: $sidebar-box-shadow;

  .app-sidebar--top {
    text-align: center;
    margin: 0 0 12px;

    .version {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
    }
  }

  .logo {
    display: block;
    margin: 0 0 9px;
    line-height: 0;
    outline: none;

    svg {
      width: 27px;
      height: 27px;
    }
  }
}
