@import "../../../styles/base/variables";

// Sidebar
// ======================

// Vars
// ----------------------

$sidebar-bg: #E7F6FA;
$sidebar-border: #BABABA;

// Base
// ----------------------

:host {
  display: block;
  background: $sidebar-bg;
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px 0;

  .logo {
    display: block;
    width: 141px;
    height: 40px;
    margin: 0 auto 20px;
  }
}
