<aw-wizard #WizardComponent [disableNavigationBar]="isNavigationDisabled()" [defaultStepIndex]="getDefaultStep()">
  <aw-wizard-step awOptionalStep stepTitle="Intro" (stepEnter)="onStepEnter($event)">
    <div class="step-body container-fluid align-middle">
      <div class="start-node">
        <h2>Setup Wizard for Elrond Network Node</h2>

        <p>
          Please follow this guided process in order to successfully launch a node. <br>
          For a smooth experience, do consider that all the fields are mandatory. <br>
          Follow the
          <fa name="question-circle" ngbTooltip="Get help." placement="bottom"></fa>
          to get specific details for each item.
        </p>

        <p class="mb-0">Hit the start button and let's unleash the Elrond Blockchain</p>
      </div>

      <div class="aw-wizard-footer">
        <button type="button" class="btn btn-primary" awNextStep (click)="onBegin($event)" *ngIf="!isKeyGenerated">
          Start Configuration
        </button>

        <button type="button" class="btn btn-primary" awNextStep *ngIf="isKeyGenerated">Next</button>
      </div>
    </div>
  </aw-wizard-step>

  <aw-wizard-step awOptionalStep stepTitle="Instance Setup" (stepEnter)="onStepEnter($event)">

    <div class="step-body container-fluid">

      <div class="row">

        <div class="col-md-8">

          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>Instance Name
                  <fa name="question-circle"
                      ngbTooltip="The name of this instance. Used in case you want multiple instances on the same machine."
                      placement="right"></fa>
                </label>

                <input type="text"
                       class="form-control"
                       name="instance_name"
                       required
                       (change)="onChange()"
                       [(ngModel)]="node.instanceName">
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">

                  <div class="form-group">
                    <label>Port
                      <fa name="question-circle" ngbTooltip="A port that can be opened through your firewall."
                          placement="right"></fa>
                    </label>
                    <input type="text"
                           class="form-control"
                           required
                           mask="000000"
                           (change)="onChange()"
                           [(ngModel)]="node.instancePort">
                  </div>

                </div>

                <div class="col-md-6" style="padding-top: 30px">
                  <button class="btn btn-info btn-block" [disabled]="node.instancePort === '' || node.instanceIp === ''"
                          (click)="pingLocal()">Test
                  </button>

                  <!--<fa name="question-circle" ngbTooltip="Test to detect if your ip is reachable and your port is open."-->
                  <!--placement="right"></fa>-->
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Node type
              <fa name="question-circle" ngbTooltip="What node type do you want to start?" placement="right"></fa>
            </label>

            <div class="select-wrapper">
              <ng-select [items]="selectNodeTypes"
                         bindLabel="label"
                         bindValue="value"
                         (change)="onChange()"
                         placeholder="Select option ..."
                         [(ngModel)]="node.selectedNodeType">
              </ng-select>
            </div>
          </div>

          <div class="row" *ngIf="node.selectedNodeType === 2">
            <div class="col-md-8">
              <div class="form-group">
                <label>Peer IP
                  <fa name="question-circle" ngbTooltip="IP of the peer machine" placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control"
                       autofocus
                       [dropSpecialCharacters]="false"
                       mask="099.099.099.099"
                       [(ngModel)]="node.peerIp">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Peer Port
                  <fa name="question-circle" ngbTooltip="Port on the peer machine" placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control"
                       mask="000000"
                       [(ngModel)]="node.peerPort">
              </div>
            </div>

            <div class="col-md-2" style="padding-top: 30px;">
              <button type="button" class="btn btn-info btn-block"
                      [disabled]="node.peerPort === '' || node.peerIp === ''" (click)="pingPeer()">Test
              </button>
            </div>
          </div>

        </div>

      </div>

      <div class="aw-wizard-footer -bottom">
        <button type="button" class="btn btn-primary btn-back" awPreviousStep>Back</button>
        <button type="button" class="btn btn-primary" [disabled]="!canGoNext(1)" awNextStep>Continue</button>
      </div>

    </div><!-- .end step-body -->

  </aw-wizard-step>

  <aw-wizard-step awOptionalStep stepTitle="Keys" (stepEnter)="onStepEnter($event)">

    <div class="step-body container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>Key Source
              <fa name="question-circle" ngbTooltip="Method for key generation"
                  placement="right"></fa>
            </label>

            <div class="select-wrapper">
              <ng-select [items]="selectPrivateKeySource"
                         bindLabel="label"
                         bindValue="value"
                         placeholder="Select option ..."
                         (change)="onChangeKeys()"
                         [(ngModel)]="node.selectedPKSource">
              </ng-select>
            </div>
          </div>

          <div class="form-group mb-30">
            <label>
              Private key
              <fa name="question-circle" ngbTooltip="This is your private key, keep it safe" placement="right"></fa>
            </label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="node.privateKey"
                   [readonly]="node.selectedPKSource !== 1">
          </div>

          <div class="form-group mb-30">
            <button class="btn btn-info" (click)="generatePublicKeyAndPrivateKey()" *ngIf="node.selectedPKSource === 2">
              Generate
              Keys
            </button>

            <button class="btn btn-info" (click)="generatePublicKeyAndPrivateKey(node.privateKey)" *ngIf="node.selectedPKSource === 1">
              Generate Public Key
            </button>
          </div>

          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <label>
                  Public key
                  <fa name="question-circle" ngbTooltip="This is your public key, also used as an address for transactions."
                      placement="right"></fa>
                </label>
                <div class="input-wrapper">
                  <input type="text"
                         class="form-control -material -has-clipboard"
                         [(ngModel)]="node.publicKey"
                         readonly
                         #refPubKey>

                  <button class="btn btn-icon btn-clipboard"
                          type="button"
                          [ngxClipboard]="refPubKey"
                          (cbOnSuccess)="onCopySuccess($event)">
                    <svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-687.000000, -223.000000)" fill="#A6A6A6" fill-rule="nonzero">
                          <g transform="translate(687.000000, 223.000000)">
                            <path d="M14.8173543,0.654824219 L5.84488276,0.654824219 C4.91242269,0.654824219 4.15651445,1.41073246 4.15651445,2.34319253 L4.15651445,11.3156641 C4.15651445,12.2481242 4.91242269,13.0040324 5.84488276,13.0040324 L14.8173543,13.0040324 C15.7498144,13.0040324 16.5057227,12.2481242 16.5057227,11.3156641 L16.5057227,2.34319253 C16.5057227,1.41073246 15.7498144,0.654824219 14.8173543,0.654824219 Z M15.0585498,11.3156641 C15.0585498,11.4488727 14.9505629,11.5568596 14.8173543,11.5568596 L5.84488276,11.5568596 C5.71167417,11.5568596 5.60368728,11.4488727 5.60368728,11.3156641 L5.60368728,2.34319253 C5.60368728,2.20998395 5.71167417,2.10199706 5.84488276,2.10199706 L14.8173543,2.10199706 C14.9505629,2.10199706 15.0585498,2.20998395 15.0585498,2.34319253 L15.0585498,11.3156641 Z"></path>
                            <path d="M1.74455972,6.20232009 L2.27518976,6.20232009 C2.6748155,6.20232009 2.99877618,5.87835942 2.99877618,5.47873368 C2.99877618,5.07910793 2.6748155,4.75514726 2.27518976,4.75514726 L1.74455972,4.75514726 C0.812099647,4.75514726 0.0561914062,5.5110555 0.0561914062,6.44351557 L0.0561914062,15.4159872 C0.0561914062,16.3484472 0.812099647,17.1043555 1.74455972,17.1043555 L10.7170313,17.1043555 C11.6494914,17.1043555 12.4053996,16.3484472 12.4053996,15.4159872 L12.4053996,14.837118 C12.4053996,14.4374923 12.0814389,14.1135316 11.6818132,14.1135316 C11.2821875,14.1135316 10.9582268,14.4374923 10.9582268,14.837118 L10.9582268,15.4159872 C10.9582268,15.5491957 10.8502399,15.6571826 10.7170313,15.6571826 L1.74455972,15.6571826 C1.61135113,15.6571826 1.50336424,15.5491957 1.50336424,15.4159872 L1.50336424,6.44351557 C1.50336424,6.31030699 1.61135113,6.20232009 1.74455972,6.20232009 Z"></path>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>
                  Shard Nr.
                  <fa name="question-circle" ngbTooltip="Initially every address is allocated in a shard."
                      placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control -material -center"
                       [(ngModel)]="node.allocatedShard"
                       readonly>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="aw-wizard-footer -bottom">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-dark" [disabled]="!canGoNext(4)" awNextStep>Continue</button>
      </div>
    </div><!-- end .step-body -->
  </aw-wizard-step>

  <aw-wizard-completion-step awEnableBackLinks stepTitle="Summary" (stepEnter)="onStepEnter($event)">
    <div class="step-body container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h3>Instance setup</h3>

          <div class="result-item">
            <label>Instance name</label>
            <p>{{ node.instanceName }}</p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="result-item">
                <label>Instance IP</label>
                <p>{{ node.instanceIp }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="result-item">
                <label>Instance Port</label>
                <p>{{ node.instancePort }}</p>
              </div>
            </div>
          </div>

          <h3 class="pt-40">Keys</h3>
          <div class="result-item -no-border">
            <label>Private key</label>

            <div class="input-wrapper">
              <input type="text" class="form-control -material -has-clipboard" readonly value="{{ node.privateKey }}" #refSummaryPKey>

              <button class="btn btn-icon btn-clipboard"
                      type="button"
                      [ngxClipboard]="refPubKey"
                      (cbOnSuccess)="onCopySuccess($event)">
                <svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-687.000000, -223.000000)" fill="#A6A6A6" fill-rule="nonzero">
                      <g transform="translate(687.000000, 223.000000)">
                        <path d="M14.8173543,0.654824219 L5.84488276,0.654824219 C4.91242269,0.654824219 4.15651445,1.41073246 4.15651445,2.34319253 L4.15651445,11.3156641 C4.15651445,12.2481242 4.91242269,13.0040324 5.84488276,13.0040324 L14.8173543,13.0040324 C15.7498144,13.0040324 16.5057227,12.2481242 16.5057227,11.3156641 L16.5057227,2.34319253 C16.5057227,1.41073246 15.7498144,0.654824219 14.8173543,0.654824219 Z M15.0585498,11.3156641 C15.0585498,11.4488727 14.9505629,11.5568596 14.8173543,11.5568596 L5.84488276,11.5568596 C5.71167417,11.5568596 5.60368728,11.4488727 5.60368728,11.3156641 L5.60368728,2.34319253 C5.60368728,2.20998395 5.71167417,2.10199706 5.84488276,2.10199706 L14.8173543,2.10199706 C14.9505629,2.10199706 15.0585498,2.20998395 15.0585498,2.34319253 L15.0585498,11.3156641 Z"></path>
                        <path d="M1.74455972,6.20232009 L2.27518976,6.20232009 C2.6748155,6.20232009 2.99877618,5.87835942 2.99877618,5.47873368 C2.99877618,5.07910793 2.6748155,4.75514726 2.27518976,4.75514726 L1.74455972,4.75514726 C0.812099647,4.75514726 0.0561914062,5.5110555 0.0561914062,6.44351557 L0.0561914062,15.4159872 C0.0561914062,16.3484472 0.812099647,17.1043555 1.74455972,17.1043555 L10.7170313,17.1043555 C11.6494914,17.1043555 12.4053996,16.3484472 12.4053996,15.4159872 L12.4053996,14.837118 C12.4053996,14.4374923 12.0814389,14.1135316 11.6818132,14.1135316 C11.2821875,14.1135316 10.9582268,14.4374923 10.9582268,14.837118 L10.9582268,15.4159872 C10.9582268,15.5491957 10.8502399,15.6571826 10.7170313,15.6571826 L1.74455972,15.6571826 C1.61135113,15.6571826 1.50336424,15.5491957 1.50336424,15.4159872 L1.50336424,6.44351557 C1.50336424,6.31030699 1.61135113,6.20232009 1.74455972,6.20232009 Z"></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9">
              <div class="result-item -no-border">
                <label>Public key</label>
                <div class="input-wrapper">
                  <input type="text" class="form-control -material -has-clipboard" readonly value="{{ node.publicKey }}" #refSummaryPubKey>

                  <button class="btn btn-icon btn-clipboard"
                          type="button"
                          [ngxClipboard]="refPubKey"
                          (cbOnSuccess)="onCopySuccess($event)">
                    <svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-687.000000, -223.000000)" fill="#A6A6A6" fill-rule="nonzero">
                          <g transform="translate(687.000000, 223.000000)">
                            <path d="M14.8173543,0.654824219 L5.84488276,0.654824219 C4.91242269,0.654824219 4.15651445,1.41073246 4.15651445,2.34319253 L4.15651445,11.3156641 C4.15651445,12.2481242 4.91242269,13.0040324 5.84488276,13.0040324 L14.8173543,13.0040324 C15.7498144,13.0040324 16.5057227,12.2481242 16.5057227,11.3156641 L16.5057227,2.34319253 C16.5057227,1.41073246 15.7498144,0.654824219 14.8173543,0.654824219 Z M15.0585498,11.3156641 C15.0585498,11.4488727 14.9505629,11.5568596 14.8173543,11.5568596 L5.84488276,11.5568596 C5.71167417,11.5568596 5.60368728,11.4488727 5.60368728,11.3156641 L5.60368728,2.34319253 C5.60368728,2.20998395 5.71167417,2.10199706 5.84488276,2.10199706 L14.8173543,2.10199706 C14.9505629,2.10199706 15.0585498,2.20998395 15.0585498,2.34319253 L15.0585498,11.3156641 Z"></path>
                            <path d="M1.74455972,6.20232009 L2.27518976,6.20232009 C2.6748155,6.20232009 2.99877618,5.87835942 2.99877618,5.47873368 C2.99877618,5.07910793 2.6748155,4.75514726 2.27518976,4.75514726 L1.74455972,4.75514726 C0.812099647,4.75514726 0.0561914062,5.5110555 0.0561914062,6.44351557 L0.0561914062,15.4159872 C0.0561914062,16.3484472 0.812099647,17.1043555 1.74455972,17.1043555 L10.7170313,17.1043555 C11.6494914,17.1043555 12.4053996,16.3484472 12.4053996,15.4159872 L12.4053996,14.837118 C12.4053996,14.4374923 12.0814389,14.1135316 11.6818132,14.1135316 C11.2821875,14.1135316 10.9582268,14.4374923 10.9582268,14.837118 L10.9582268,15.4159872 C10.9582268,15.5491957 10.8502399,15.6571826 10.7170313,15.6571826 L1.74455972,15.6571826 C1.61135113,15.6571826 1.50336424,15.5491957 1.50336424,15.4159872 L1.50336424,6.44351557 C1.50336424,6.31030699 1.61135113,6.20232009 1.74455972,6.20232009 Z"></path>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="result-item -no-border">
                <label>Shard Nr.</label>
                <input type="text" class="form-control -material -center" readonly value="{{ node.allocatedShard  }}">
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-5 ml-auto">
          <h3>Node setup</h3>

          <div class="result-item" *ngIf="node.selectedNodeType">
            <label>Node type</label>
            <p>{{ getSelectLabel('selectNodeTypes', 'selectedNodeType') }}</p>
          </div>

          <ng-container *ngIf="node.selectedNodeType === 2">
            <h3 class="pt-40">Network peers</h3>
            <div class="result-item -multiple">
              <p *ngIf="node.peerIp">{{ node.peerIp }}</p>

              <p *ngIf="node.peerPort">{{ node.peerPort }}</p>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="aw-wizard-footer -bottom">
        <button type="button" class="btn btn-primary btn-back" *ngIf="!this.isNodeStarted" awPreviousStep>Back</button>

        <button type="button"
                class="btn ml-2"
                [ngClass]="this.isNodeStarted ? 'btn-danger' : 'btn-success'"
                (click)="toggleNode()">{{toggleButtonText}} Node
        </button>
      </div>
    </div><!-- end .step-body -->
  </aw-wizard-completion-step>

</aw-wizard>

<span class="circle-bottom-right circle-large circle-graphic circle-light-blue"></span>
