<aw-wizard #wizard [defaultStepIndex]="getDefaultSetp()">
  <aw-wizard-step awOptionalStep stepTitle="Intro" (stepEnter)="onStepEnter($event)">
    <div class="step-body container-fluid">

      <div class="alert alert-info text-center mt-4" role="alert">
        <h6 class="alert-heading text-center">Setup Wizard for Elrond Network Node</h6>
        <p></p>
        <p>Please follow this guided process in order to successfully launch a node.</p>
        <p>For a smooth experience, do consider that all the fields are mandatory.</p>
        <p>Follow the
          <fa name="question-circle" ngbTooltip="Get help." placement="bottom"></fa>
          to get specific details for each item.
        </p>
        <hr>
        <p class="mb-0">Hit the start button and let's unleash the Elrond Blockchain</p>
      </div>

    </div>

    <div class="aw-wizard-footer text-center pr-4">
      <button type="button" class="btn btn-dark btn-lg" awNextStep>Start</button>
    </div>
  </aw-wizard-step>

  <aw-wizard-step awOptionalStep stepTitle="Instance Setup" (stepEnter)="onStepEnter($event)">

    <div class="step-body container-fluid">

      <div class="row justify-content-md-center">

        <div class="col-md-6">

          <div class="form-group">
            <label>Instance Name
              <fa name="question-circle"
                  ngbTooltip="The name of this instance. Used in case you want multiple instances on the same machine."
                  placement="right"></fa>
            </label>

            <input type="text"
                   class="form-control"
                   name="instance_name"
                   required
                   (change)="onChange()"
                   [(ngModel)]="node.instanceName">
          </div>

          <div class="form-row">
            <div class="col-md-8">

              <div class="form-group">
                <label>IP
                  <fa name="question-circle" ngbTooltip="The ip of your machine, as seen from the LAN or WAN network."
                      placement="right"></fa>
                </label>

                <input type="text"
                       class="form-control"
                       required
                       [dropSpecialCharacters]="false"
                       mask="099.099.099.099"
                       (change)="onChange()"
                       [(ngModel)]="node.instanceIp">
              </div>

            </div>

            <div class="col-md-2">

              <div class="form-group">
                <label>Port
                  <fa name="question-circle" ngbTooltip="A port that can be opened through your firewall."
                      placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control"
                       required
                       mask="000000"
                       (change)="onChange()"
                       [(ngModel)]="node.instancePort">
              </div>

            </div>

            <div class="col-md-2" style="padding-top: 30px">
              <button class="btn btn-info btn-sm mr-2" (click)="ping()">Test</button>

              <fa name="question-circle" ngbTooltip="Test to detect if your ip is reachable and your port is open."
                  placement="right"></fa>
            </div>

          </div>

          <div class="form-group">
            <label>Blockchain path on local drive
              <fa name="question-circle"
                  ngbTooltip="Chose the location where the blockchain is saved on the local drive."
                  placement="right"></fa>
            </label>
            <input type="file"
                   class="form-control"
                   required
                   webkitdirectory
                   (change)="onChangeBlockchain($event)">
          </div>
        </div>

      </div>

    </div><!-- .end step-body -->

    <div class="aw-wizard-footer text-right pr-4">
      <button type="button" class="btn btn-secondary mr-2" awPreviousStep>Back</button>
      <button type="button" class="btn btn-dark" [disabled]="!canGoNext(1)" awNextStep>Next</button>
    </div>

  </aw-wizard-step>

  <aw-wizard-step awOptionalStep stepTitle="Node Setup" (stepEnter)="onStepEnter($event)">

    <div class="step-body container-fluid">

      <div class="row justify-content-md-center">

        <div class="col-md-6">
          <div class="form-group">
            <label>Node type
              <fa name="question-circle" ngbTooltip="What node type do you want to start?" placement="right"></fa>
            </label>

            <div class="select-wrapper">
              <ng-select [items]="selectNodeTypes"
                         bindLabel="label"
                         bindValue="value"
                         (change)="onChange()"
                         placeholder="Select option ..."
                         [(ngModel)]="node.selectedNodeType">
              </ng-select>
            </div>
          </div>

          <ng-container *ngIf="node.selectedNodeType === 1">
            <div class="form-group">
              <label>Node Action
                <fa name="question-circle"
                    ngbTooltip="Choose and action, either start from genesis or from a saved state."
                    placement="right"></fa>
              </label>

              <div class="select-wrapper">
                <ng-select [items]="selectNodeAction"
                           bindLabel="label"
                           bindValue="value"
                           placeholder="Select option ..."
                           (change)="onChange()"
                           [(ngModel)]="node.selectedNodeAction">
                </ng-select>
              </div>
            </div>


            <div class="form-group" *ngIf="node.selectedNodeAction === 2">
              <label>Restore Path
                <fa name="question-circle" ngbTooltip="Path to an existing blockchain previously saved"
                    placement="right"></fa>
              </label>

              <input type="file"
                     class="form-control"
                     webkitdirectory
                     (change)="onChangePath($event)">
            </div>


            <div class="form-group" *ngIf="node.selectedNodeAction === 1">
              <label>ERD's in Genesis Block
                <fa name="question-circle" ngbTooltip="Total amount of ERD's in the genesis block."
                    placement="right"></fa>
              </label>
              <input type="text"
                     class="form-control"
                     mask="0*"
                     (change)="onChange()"
                     [(ngModel)]="node.instanceGenesisCoins">
            </div>

            <div class="form-row" *ngIf="node.selectedNodeAction === 1">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Distribution
                    <fa name="question-circle"
                        ngbTooltip="How to distribute the total amount: Generate test transactions or distribute manually on your own."
                        placement="right"></fa>
                  </label>

                  <div class="select-wrapper">
                    <ng-select [items]="selectDistribution"
                               bindLabel="label"
                               bindValue="value"
                               placeholder="Select option ..."
                               [(ngModel)]="node.selectedDistributon"
                               (change)="onChange()">
                    </ng-select>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6" *ngIf="node.selectedDistributon === 1">
                <label>Nr. of nodes to distribute ERD's
                  <fa name="question-circle"
                      ngbTooltip="For testing, 75% of the funds will be distributed to a nr of nodes."
                      placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="node.instanceNodeDistribution"
                       (change)="onChange()">
              </div>
            </div>

          </ng-container>
        </div>
      </div>

    </div><!-- .end step-body -->

    <div class="aw-wizard-footer text-right pr-4">
      <button type="button" class="btn btn-secondary mr-2" awPreviousStep>Back</button>

      <button type="button" class="btn btn-dark" [disabled]="!canGoNext(2)" awNextStep
              *ngIf="this.node.selectedNodeType === 2">Next
      </button>

      <button type="button" class="btn btn-dark"
              [disabled]="!canGoNext(2)"
              [awGoToStep]="{stepIndex: 4}"
              *ngIf="this.node.selectedNodeType === 1">Next
      </button>
    </div>

  </aw-wizard-step>

  <aw-wizard-step awOptionalStep stepTitle="Network Peers" (stepEnter)="onStepEnter($event)">

    <div class="step-body container-fluid">

      <div class="row justify-content-md-center">

        <div class="col-md-8" *ngIf="node.selectedNodeType === 2">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>IP
                <fa name="question-circle" ngbTooltip="IP of the peer machine" placement="right"></fa>
              </label>
              <input type="text"
                     class="form-control"
                     autofocus
                     [dropSpecialCharacters]="false"
                     mask="099.099.099.099"
                     [(ngModel)]="node.peerIp">
            </div>

            <div class="form-group col-md-2">
              <label>Port
                <fa name="question-circle" ngbTooltip="Port on the peer machine" placement="right"></fa>
              </label>
              <input type="text"
                     class="form-control"
                     mask="000000"
                     [(ngModel)]="node.peerPort">
            </div>

            <div class="col-md-4" style="padding-top: 30px;">
              <button type="button" class="btn btn-primary btn-sm mr-2" (click)="testPeer()">Test</button>
              <button type="button" class="btn btn-success btn-sm" (click)="addPeer()">Add</button>
            </div>
          </div>

          <table class="table table-striped table-secondary mt-3" *ngIf="node.peerTable && node.peerTable.length > 0">
            <thead>
            <tr>
              <th class="xs">ID</th>
              <th>IP</th>
              <th>Port</th>
              <th class="text-center sm">Status</th>
              <th class="text-center sm">Remove</th>
            </tr>
            </thead>
          </table>

          <div class="table-responsive" style="max-height: 100px;"
               *ngIf="node.peerTable && node.peerTable.length > 0">
            <table class="table">
              <tbody>
              <tr *ngFor="let peer of node.peerTable; let i = index">
                <td class="xs">{{i}}</td>
                <td>{{ peer.ip }}</td>
                <td>{{ peer.port }}</td>
                <td class="text-center sm">
                  <fa name="circle" [ngClass]="peer.status ? 'active' : 'not-active'"></fa>
                </td>
                <td class="text-center sm">
                  <button class="btn btn-link btn-icon" (click)="deletePeer(i)">
                    <fa name="trash"></fa>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

        <p class="lead text-center" *ngIf="node.selectedNodeType === 1">Peers not needed!</p>

      </div>

    </div>

    <div class="aw-wizard-footer text-right pr-4">
      <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
      <button type="button" class="btn btn-dark ml-2" [disabled]="!canGoNext(3)" awNextStep>Next</button>
    </div>
  </aw-wizard-step>

  <aw-wizard-step awOptionalStep stepTitle="Keys" (stepEnter)="onStepEnter($event)">

    <div class="step-body container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="form-group">
            <label>Key Source
              <fa name="question-circle" ngbTooltip="How to generate the private and public keys"
                  placement="right"></fa>
            </label>

            <div class="select-wrapper">
              <ng-select [items]="selectPrivateKeySource"
                         bindLabel="label"
                         bindValue="value"
                         placeholder="Select option ..."
                         (change)="onChange()"
                         [(ngModel)]="node.selectedPKSource">
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label>
              Private key
              <fa name="question-circle" ngbTooltip="This is your private key, keep it safe" placement="right"></fa>
            </label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="node.privateKey"
                   [readonly]="node.selectedPKSource !== 1">
          </div>

          <div class="form-group">
            <label>
              Public key
              <fa name="question-circle" ngbTooltip="This is your public key, also used as an address for transactions."
                  placement="right"></fa>
            </label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="node.publicKey"
                   readonly>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-sm" (click)="generateKeys()" *ngIf="node.selectedPKSource === 2">
              Generate
              Keys
            </button>

            <button class="btn btn-primary btn-sm" (click)="generatePublickKey()"
                    *ngIf="node.selectedPKSource === 1">
              Generate Public Key
            </button>
          </div>
        </div>
      </div>
    </div><!-- end .step-body -->

    <div class="aw-wizard-footer text-right pr-4">
      <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
      <button type="button" class="btn btn-dark ml-2" [disabled]="!canGoNext(4)" awNextStep>Next</button>
    </div>
  </aw-wizard-step>

  <aw-wizard-step awOptionalStep stepTitle="Summary" (stepEnter)="onStepEnter($event)">
    <div class="step-body container">
      <div class="row justify-content-md-center">
        <div class="col-md-5 ml-auto">
          <h3>Instance setup</h3>
          <p>Instance name: {{ node.instanceName }}</p>

          <div class="row">
            <div class="col-md-6">
              <p>Instance IP: {{ node.instanceIp }}</p>
            </div>
            <div class="col-md-6">
              <p>Instance Port: {{ node.instancePort }}</p>
            </div>
          </div>

          <p>Blockchain path: {{ node.instanceBlockchainPath }}</p>

          <div *ngIf="node.selectedNodeType === 2">

            <h3>Network peers</h3>

            <div class="network-peers-table">
              <div class="table-responsive" style="max-height: 100px;"
                   *ngIf="node.peerTable && node.peerTable.length > 0">
                <table class="table">
                  <tbody>
                  <tr *ngFor="let peer of node.peerTable; let i = index">
                    <td class="xs">{{i}}</td>
                    <td>{{ peer.ip }}</td>
                    <td>{{ peer.port }}</td>
                    <td class="text-center sm">
                      <fa name="circle" [ngClass]="peer.status ? 'active' : 'not-active'"></fa>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

          <h3>Keys</h3>
          <p>Private key: {{ node.privateKey }}</p>
          <p>Public key: {{ node.publicKey }}</p>

        </div>

        <div class="col-md-5 ml-auto">
          <h3>Node setup</h3>

          <p *ngIf="node.selectedNodeType">Node type: {{ getSelectLabel('selectNodeTypes', 'selectedNodeType') }}</p>

          <p *ngIf="node.selectedNodeType === 1">Node Action: {{ getSelectLabel('selectNodeAction',
            'selectedNodeAction')
            }}</p>
          <p *ngIf="node.selectedNodeAction === 1 && node.instanceGenesisCoins">ERD's in Genesis: {{
            node.instanceGenesisCoins }}</p>
          <p *ngIf="node.selectedNodeAction === 1 && node.instanceGenesisCoins">Distribution: {{
            getSelectLabel('selectDistribution', 'selectedDistributon') }}</p>
          <p *ngIf="node.selectedNodeAction === 1 && node.instanceNodeDistribution">Nr. of Nodes to
            distribute: {{ node.instanceNodeDistribution }}</p>
          <p *ngIf="node.selectedNodeType === 2 && node.instanceRestorePath">Restore path: {{
            instanceRestorePath
            }}</p>
        </div>
      </div>

    </div><!-- end .step-body -->

    <div class="aw-wizard-footer text-right pr-4">
      <button type="button" class="btn btn-secondary mr-2" awPreviousStep>Back</button>
      <button type="button" class="btn btn-primary">Start Node</button>
    </div>
  </aw-wizard-step>

</aw-wizard>
