@import "../../../styles/base/variables";

:host {
  display: block;
  height: 100%;

  h3 {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 10px;
  }

  .table {
    table-layout: fixed;

    th {
      font-size: 10px;
      text-transform: uppercase;
      padding: 5px;
      border: 0;
    }

    td {
      padding: 5px;
      font-size: 14px;
    }

    .sm {
      width: 80px;
    }

    .xs {
      width: 50px;
    }
  }

  // Wizard
  //

  aw-wizard {
    height: 100%;
  }

  aw-wizard-step {
    padding-top: 20px;
  }

  .aw-wizard-footer {
    position: absolute;
    bottom: 20px;
    right: 0;
  }

  ::ng-deep {
    aw-wizard-navigation-bar {

      ul.steps-indicator {
        li.current:after,
        li.editing:after {
          background-color: deepskyblue !important;
        }
      }

    }

    .ng-select.ng-select-disabled>.ng-select-container {
      background-color: #e9ecef;
    }
  }
}
