<aw-wizard #WizardComponent [disableNavigationBar]="isNavigationDisabled()" [defaultStepIndex]="getDefaultStep()">
  <aw-wizard-step awOptionalStep stepTitle="Intro" (stepEnter)="onStepEnter($event)">
    <div class="step-body container-fluid align-middle">
      <div class="start-node">
        <h2>Setup Wizard for Elrond Network Node</h2>

        <p>
          Please follow this guided process in order to successfully launch a node. <br>
          For a smooth experience, do consider that all the fields are mandatory. <br>
          Follow the
          <fa name="question-circle" ngbTooltip="Get help." placement="bottom"></fa>
          to get specific details for each item.
        </p>

        <p class="mb-0">Hit the start button and let's unleash the Elrond Blockchain</p>
      </div>

      <div class="aw-wizard-footer">
        <button type="button" class="btn btn-primary" awNextStep (click)="onBegin($event)" *ngIf="!isKeyGenerated">
          Start Configuration
        </button>

        <button type="button" class="btn btn-primary" awNextStep *ngIf="isKeyGenerated">Next</button>
      </div>
    </div>
  </aw-wizard-step>

  <aw-wizard-step awOptionalStep stepTitle="Instance Setup" (stepEnter)="onStepEnter($event)">

    <div class="step-body container-fluid">

      <div class="row">

        <div class="col-md-8">

          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>Instance Name
                  <fa name="question-circle"
                      ngbTooltip="The name of this instance. Used in case you want multiple instances on the same machine."
                      placement="right"></fa>
                </label>

                <input type="text"
                       class="form-control"
                       name="instance_name"
                       required
                       (change)="onChange()"
                       [(ngModel)]="node.instanceName">
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">

                  <div class="form-group">
                    <label>Port
                      <fa name="question-circle" ngbTooltip="A port that can be opened through your firewall."
                          placement="right"></fa>
                    </label>
                    <input type="text"
                           class="form-control"
                           required
                           mask="000000"
                           (change)="onChange()"
                           [(ngModel)]="node.instancePort">
                  </div>

                </div>

                <div class="col-md-6" style="padding-top: 30px">
                  <button class="btn btn-info btn-block" [disabled]="node.instancePort === '' || node.instanceIp === ''"
                          (click)="pingLocal()">Test
                  </button>

                  <!--<fa name="question-circle" ngbTooltip="Test to detect if your ip is reachable and your port is open."-->
                  <!--placement="right"></fa>-->
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Node type
              <fa name="question-circle" ngbTooltip="What node type do you want to start?" placement="right"></fa>
            </label>

            <div class="select-wrapper">
              <ng-select [items]="selectNodeTypes"
                         bindLabel="label"
                         bindValue="value"
                         (change)="onChange()"
                         placeholder="Select option ..."
                         [(ngModel)]="node.selectedNodeType">
              </ng-select>
            </div>
          </div>

          <div class="row" *ngIf="node.selectedNodeType === 2">
            <div class="col-md-8">
              <div class="form-group">
                <label>Peer IP
                  <fa name="question-circle" ngbTooltip="IP of the peer machine" placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control"
                       autofocus
                       [dropSpecialCharacters]="false"
                       mask="099.099.099.099"
                       [(ngModel)]="node.peerIp">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Peer Port
                  <fa name="question-circle" ngbTooltip="Port on the peer machine" placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control"
                       mask="000000"
                       [(ngModel)]="node.peerPort">
              </div>
            </div>

            <div class="col-md-2" style="padding-top: 30px;">
              <button type="button" class="btn btn-info btn-block"
                      [disabled]="node.peerPort === '' || node.peerIp === ''" (click)="pingPeer()">Test
              </button>
            </div>
          </div>

        </div>

      </div>

      <div class="aw-wizard-footer -bottom">
        <button type="button" class="btn btn-primary btn-back" awPreviousStep>Back</button>
        <button type="button" class="btn btn-primary" [disabled]="!canGoNext(1)" awNextStep>Continue</button>
      </div>

    </div><!-- .end step-body -->

  </aw-wizard-step>

  <aw-wizard-step awOptionalStep stepTitle="Keys" (stepEnter)="onStepEnter($event)">

    <div class="step-body container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>Key Source
              <fa name="question-circle" ngbTooltip="Method for key generation"
                  placement="right"></fa>
            </label>

            <div class="select-wrapper">
              <ng-select [items]="selectPrivateKeySource"
                         bindLabel="label"
                         bindValue="value"
                         placeholder="Select option ..."
                         (change)="onChangeKeys()"
                         [(ngModel)]="node.selectedPKSource">
              </ng-select>
            </div>
          </div>

          <div class="form-group mb-30">
            <label>
              Private key
              <fa name="question-circle" ngbTooltip="This is your private key, keep it safe" placement="right"></fa>
            </label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="node.privateKey"
                   [readonly]="node.selectedPKSource !== 1">
          </div>

          <div class="form-group mb-30">
            <button class="btn btn-info" (click)="generatePublicKeyAndPrivateKey()" *ngIf="node.selectedPKSource === 2">
              Generate
              Keys
            </button>

            <button class="btn btn-info" (click)="generatePublicKeyAndPrivateKey(node.privateKey)" *ngIf="node.selectedPKSource === 1">
              Generate Public Key
            </button>
          </div>

          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <label>
                  Public key
                  <fa name="question-circle" ngbTooltip="This is your public key, also used as an address for transactions."
                      placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control -material"
                       [(ngModel)]="node.publicKey"
                       readonly>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>
                  Shard Nr.
                  <fa name="question-circle" ngbTooltip="Initially every address is allocated in a shard."
                      placement="right"></fa>
                </label>
                <input type="text"
                       class="form-control -material -center"
                       [(ngModel)]="node.allocatedShard"
                       readonly>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="aw-wizard-footer -bottom">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-dark" [disabled]="!canGoNext(4)" awNextStep>Continue</button>
      </div>
    </div><!-- end .step-body -->
  </aw-wizard-step>

  <aw-wizard-completion-step awEnableBackLinks stepTitle="Summary" (stepEnter)="onStepEnter($event)">
    <div class="step-body container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h3>Instance setup</h3>

          <div class="result-item">
            <label>Instance name</label>
            <p>{{ node.instanceName }}</p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="result-item">
                <label>Instance IP</label>
                <p>{{ node.instanceIp }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="result-item">
                <label>Instance Port</label>
                <p>{{ node.instancePort }}</p>
              </div>
            </div>
          </div>

          <h3 class="pt-40">Keys</h3>
          <div class="result-item -no-border">
            <label>Private key</label>
            <input type="text" class="form-control -material" readonly value="{{ node.privateKey }}">
          </div>

          <div class="row">
            <div class="col-md-9">
              <div class="result-item -no-border">
                <label>Public key</label>
                <input type="text" class="form-control -material" readonly value="{{ node.publicKey }}">
              </div>
            </div>

            <div class="col-md-3">
              <div class="result-item -no-border">
                <label>Shard Nr.</label>
                <input type="text" class="form-control -material -center" readonly value="{{ node.allocatedShard  }}">
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-5 ml-auto">
          <h3>Node setup</h3>

          <div class="result-item" *ngIf="node.selectedNodeType">
            <label>Node type</label>
            <p>{{ getSelectLabel('selectNodeTypes', 'selectedNodeType') }}</p>
          </div>

          <ng-container *ngIf="node.selectedNodeType === 2">
            <h3 class="pt-40">Network peers</h3>
            <div class="result-item -multiple">
              <p *ngIf="node.peerIp">{{ node.peerIp }}</p>

              <p *ngIf="node.peerPort">{{ node.peerPort }}</p>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="aw-wizard-footer -bottom">
        <button type="button" class="btn btn-primary btn-back" *ngIf="!this.isNodeStarted" awPreviousStep>Back</button>

        <button type="button"
                class="btn ml-2"
                [ngClass]="this.isNodeStarted ? 'btn-danger' : 'btn-success'"
                (click)="toggleNode()">{{toggleButtonText}} Node
        </button>
      </div>
    </div><!-- end .step-body -->
  </aw-wizard-completion-step>

</aw-wizard>

<span class="circle-bottom-right circle-large circle-graphic circle-light-blue"></span>
