* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  @extend %font__primary;

  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.btn-icon {
  line-height: 0;
  padding: 0 10px;
}
