// Buttons
// =========================

// Vars
// -------------------------

$btn__primary--bg: #4F4F4F;

// Base
// -------------------------

.btn {
  border: 0;
  box-shadow: none;
}

.btn-primary {
  @extend %font__primary--bold;

  background: $btn__primary--bg;
  border-radius: 44px;
  padding: 14px 20px 13px;
  margin: 0;
  min-width: 120px;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  text-align: center;

  &:hover,
  &:focus {
    background: $btn__primary--bg;
  }
}
