// Headings
// ======================

// Vars
// ----------------------

// Base
// ----------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
  margin: 0;
  font-family: 'Nexa-Light', Helvetica, sans-serif;
  font-weight: normal;
}

.h1 {
  font-size: (26/16 + rem);
  line-height: 1;
}

.h2 {
  font-size: (30/16 + rem);
  line-height: 1;
  font-weight: normal;
}

.section-title {
  @extend .h1;
}

.lead {
  color: $title-color;
}

h1 {
  @extend .h1;
}
