// Headings
// ======================

// Vars
// ----------------------

// Base
// ----------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font__primary--bold;

  margin: 0;
  padding: 0;
}

.h1 {
  font-size: (26/16 + rem);
  line-height: 1;
}

.h2 {
  font-size: (24/16 + rem);
  line-height: 1;
  margin: 0 0 20px;
}

.h3 {
  font-size: (18/16 + rem);
  line-height: 1;
  margin: 0 0 20px;
}

p,
li {
  font-size: (14/16 + rem);
  line-height: 22px;
}

p {
  margin: 0 0 25px;
}

h1 {
  @extend .h1;
}

h2 {
  @extend .h2;
}

h3 {
  @extend .h3;
}
